{% extends "layout.html"%}
{% block content %}
<h1>{{title}}</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
<table class="table">
<tr>
<th>Sercice Name</th>
<th>Status</th>
<th>Endpoint</th>
</tr>
{% for service in monitored_services %}
<tr>
<td>{{ service.name }}</td>
<td>Down</td>
<td>{{ service.endpoint }}</td>

{% endfor %}
</tr>
</table>

{% endblock content %}